@using System.Web.Http.Description
@using toofz.NecroDancer.Web.Api.Areas.HelpPage
@using toofz.NecroDancer.Web.Api.Areas.HelpPage.Models
@model HelpPageApiModel

@{
    ApiDescription description = Model.ApiDescription;
}
<h1>
    @if (description.AuthorizationRequired())
    {
        <span class="glyphicon glyphicon-lock" data-toggle="tooltip" title="Authorized users only"></span>
    }
    @description.HttpMethod.Method @description.GetSimpleRequestPath()
</h1>
<div>
    <p>@description.Documentation</p>

    <h2>Request Information</h2>

    <h3>URI Parameters</h3>
    @Html.DisplayFor(m => m.UriParameters, "Parameters")

    <p>@Model.RequestDocumentation</p>

    @if (Model.RequestModelDescription != null)
    {
        <h3>Body Parameters</h3>

        @Html.DisplayFor(m => m.RequestModelDescription.ModelType, "ModelDescriptionLink", new { modelDescription = Model.RequestModelDescription })
        if (Model.RequestBodyParameters != null)
        {
            @Html.DisplayFor(m => m.RequestBodyParameters, "Parameters")
        }
    }

    @if (Model.SampleRequests.Count > 0)
    {
        <h3>Request Formats</h3>
        @Html.DisplayFor(m => m.SampleRequests, "Samples")
    }

    <h2>Response Information</h2>

    <h3>Resource Description</h3>

    <p>@description.ResponseDescription.Documentation</p>

    @if (Model.ResourceDescription != null)
    {
        @Html.DisplayFor(m => m.ResourceDescription.ModelType, "ModelDescriptionLink", new { modelDescription = Model.ResourceDescription })
        if (Model.ResourceProperties != null)
        {
            @Html.DisplayFor(m => m.ResourceProperties, "Parameters")
        }
    }
    else
    {
        <p></p>
    }

    @if (Model.HttpStatusCodes.Count > 0)
    {
        <h3>Response Status Codes</h3>

        @Html.DisplayFor(m => m.HttpStatusCodes, "HttpStatusCodes")
    }

    @if (Model.SampleResponses.Count > 0)
    {
        <h3>Response Formats</h3>
        @Html.DisplayFor(m => m.SampleResponses, "Samples")
    }

</div>