<!DOCTYPE html>
<html>
@{
    if (ViewBag.Title != null)
    {
        ViewBag.Title = string.Join(" | ", ViewBag.Title, Constants.SiteName);
    }
    else
    {
        ViewBag.Title = Constants.SiteName + " Documentation";
    }
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    @{ Html.RenderPartial("_FaviconPartial"); }

    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/slate/bootstrap.min.css" integrity="sha256-cp9lCRHDsELuWqPLwCHG6LXz+nk32BzccNd0N2v5yjM=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }

        .body-content {
            padding-left: 15px;
            padding-right: 15px;
        }

        input,
        select,
        textarea {
            max-width: 280px;
        }

        .glyphicon-lock {
            color: #f1c11e;
        }

        #beta-alert {
            margin-top: 20px;
        }

        .help-page pre.wrapped {
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            white-space: pre-wrap;
        }

        .help-page-table {
            width: 100%;
            border-collapse: collapse;
            text-align: left;
            margin: 0px 0px 20px 0px;
            border-top: 1px solid #D4D4D4;
        }

            .help-page-table th {
                text-align: left;
                font-weight: bold;
                border-bottom: 1px solid #D4D4D4;
                padding: 5px 6px 5px 6px;
            }

            .help-page-table td {
                border-bottom: 1px solid #D4D4D4;
                padding: 10px 8px 10px 8px;
                vertical-align: top;
            }

            .help-page-table pre,
            .help-page-table p {
                margin: 0px;
                padding: 0px;
                font-family: inherit;
                font-size: 100%;
            }

        .help-page .sample-header {
            border: 2px solid #D4D4D4;
            background: #00497E;
            color: #FFFFFF;
            padding: 8px 15px;
            border-bottom: none;
            display: inline-block;
            margin: 10px 0px 0px 0px;
        }

        .help-page .sample-content {
            display: block;
            border-width: 0;
            padding: 15px 20px;
            border: 2px solid #D4D4D4;
            margin: 0px 0px 10px 0px;
        }

        .help-page .api-name {
            width: 50%;
        }

        .help-page .api-documentation {
            width: 50%;
        }

        .help-page .parameter-name {
            width: 20%;
        }

        .help-page .parameter-documentation {
            width: 40%;
        }

        .help-page .parameter-type {
            width: 20%;
        }

        .help-page .parameter-annotations {
            width: 20%;
        }

        .help-page h1,
        .help-page .h1 {
            font-size: 36px;
            line-height: normal;
        }

        .help-page h2,
        .help-page .h2 {
            font-size: 24px;
        }

        .help-page h3,
        .help-page .h3 {
            font-size: 20px;
        }

        #body.help-page {
            font-size: 14px;
            line-height: 143%;
        }

        footer p {
            color: #999999;
            font-size: 0.8em;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #copyright {
            margin-right: 1em;
        }

        .fa-twitter:before {
            content: "\f099";
            color: #41c8f5;
            font-size: 22px;
        }

        .fa-twitter:hover {
            text-decoration: none;
        }

            .fa-twitter:hover:before {
                color: #80dfff;
            }
    </style>
    @RenderSection("styles", required: false)

    @if (WebApiApplication.InstrumentationKey != null)
    {
        <script>
            var appInsights = window.appInsights || function (config) {
                function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f; for (s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) r("track" + i.pop()); return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t["_" + i](config, r, u, e, o), s }), t
            }({
                instrumentationKey: "@WebApiApplication.InstrumentationKey"
            });

            window.appInsights = appInsights;
            appInsights.trackPageView();
        </script>
    }
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Constants.MainServer/" class="navbar-brand">toofz</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "HelpPage" }, null)</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr>
        <footer>
            <p>
                <span id="copyright">&#169; 2017 Leonard Thieu</span>
                <a href="https://twitter.com/Mendayen" class="fa fa-twitter"></a>
            </p>
        </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script>
    @RenderSection("scripts", required: false)
    <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
    </script>
</body>
</html>
